body {

  font-family : Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: papayawhip;
  color: royalblue;
  min-height: 100vh;
}
header {

    border: 2px dashed red;
    width: 50%;
}
h2 {
    border: 2px dashed red;
    width: 50%;
}
p {
    color: purple;
    font-size: 32px;
    width: 100ch;
}

.gray {
  color: gray;
}

#second{
  color: purple;
  font-style: italic;
}

