body {
    padding: 10%;
    font-size:2rem;
    color: red;
}

input, button{
    font:inherit;
}

a:visited{
    color:hsl(207, 44%, 49%);
}

a:focus{
    color:hsl(192, 44%, 49%)
}

p {
    text-align: capitalize;
}